.mobile-menu {
  display: none;
  &_opened {
    display: block;
    animation: opacityUp 0.5s ease;
  }
  &__wrapper {
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 14px;
  }
  &__button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: none;
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: $col-orange;
      transition: background-color 0.2s;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
}
.nav {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__list {
    list-style: none;
    padding-bottom: 20px;
  }
  p {
    .nav__contact-value {
      font-size: 18px;
    }
  }
  a {
    &:hover {
      .header__phone-number {
        color: $col-light;
      }
    }
  }
  &__link {
    @include trans;
    font-size: 26px;
    color: $col-orange;
    text-decoration: none;
    margin-bottom: 30px;
    display: block;
    &:hover {
      color: $col-green;
    }
  }
  &__contacts {
    background: $col-green;
    padding: 30px 0;
    flex-grow: 1;
  }
  &__contact {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: block;
    margin-bottom: 30px;
    &-field {
      display: block;
      color: $col-yellow;
      margin-bottom: 10px;
    }
    &-value {
      @include trans;
      .header__phone-code {
        color: $col-light;
      }
      .header__phone-number {
        @include trans;
        font-weight: bold;
      }
    }
  }
}
