.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px 0 40px;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
  }
}
