// == header ==
.header {
  padding: 23px 0;
  &-logo,
  &-menu,
  &-number,
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-wrapper {
    justify-content: space-between;
  }
  &-logo {
    color: #000;
    text-decoration: none;
    &__name {
      font-size: 24px;
      margin-left: 20px;
      font-weight: bold;
    }
  }
  &-menu {
    &__item {
      margin-left: 40px;
      color: #000;
      text-decoration: none;
      &:hover {
        color: $col-hover;
      }
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
  &-number {
    span {
      @include trans;
    }
    &:hover {
      span {
        color: $col-hover;
      }
    }
    &__code {
      color: $col-hover;
    }
    &__number {
      font-weight: bold;
      color: #000;
    }
    &__phone {
      font-size: 24px;
      text-decoration: none;
    }
  }
  @media (min-width: 1200px) {
    .mobile-menu__button {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    &-menu {
      display: none;
    }
  }
  @media (max-width: 768px) {
    &-number {
      display: none;
    }
  }
}
// == /header ==
