// == map ==
.map {
  height: 400px;
  position: relative;
  &-box {
    // position: absolute;
    // left: 29%;
    // top: -100px;
    z-index: 3000;
    padding: 50px 15px;
    background: #15c660;
    margin-right: 30px;
    margin-bottom: -76px;
    color: #fff;
    &__section {
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 14px;
    }
    &__adress {
      font-size: 40px;
      line-height: 120%;
    }
    @media (max-width: 780px) {
      margin-right: auto;
      margin-left: auto;
    }
    @media (max-width: 500px) {
      &__adress {
        font-size: 30px;
      }
    }
  }
}
// == /map ==
