@import "_grid.scss";
// == mixins ==
@mixin hover {
  transition: 0.5s;
  &:hover,
  &:focus {
    background: $col-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@mixin trans {
  transition: 0.5s;
}
// == /mixins ==

// == variables ==
$col-primary: #2d5793;
$col-orange: #fe8900;
$col-hover: #47d2ff;
$col-green: rgba(21, 198, 96, 1);
$col-yellow: rgba(255, 241, 117, 1);
$col-light: #bbe9ff;
// == /variables ==

// == main ==
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transition: 0.5s;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.hidden {
  overflow: hidden;
}
.section {
  &-title {
    font-weight: bold;
    font-size: 52px;
  }
  &__title {
    margin-bottom: 35px;
  }
}
// == /main ==

@import "_burger-menu.scss";
@import "header.scss";
@import "section-contacts.scss";
@import "section-map.scss";
@import "footer.scss";
